---
---
{% assign body_class = "body-archive body-archive-year" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext.html %}

{% assign archiveName = post.title | to_i | plus: 0 %}
{% assign posts = site.entry_posts | where_exp: "post", "post.years contains archiveName" | default: "" %}
{% if posts == "" %}{% assign posts = "" | split: "" %}{% endif %}
{% assign posts = posts | sort: "updated" | reverse %}
{% include list-posts.html %}

{% include base-footer.html %}
